@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESET RULES*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
	width: 100%;
}

/* LAYOUT */

html {
	font-family: "Poppins", sans-serif;
}
.container {
	margin: 0 auto;
	padding: 0 120px;
}

/* UTILITIES */

.bg-orange {
	background-color: #fc6c04;
}


.bg-black {
	background-color: black;
}

/* NAVBAR */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
}

.nav-menu {
	display: flex;
	gap: 10px;
	color: white;
	font-size: 9px;
}

.nav-logo {
	width: 80px;
}

.nav-icons {
	display: flex;
	width: 60px;
	gap: 10px;
}

/*MAIN SECTION */

.section {
    display: flex;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding-top: 25px;
}

.col-33 {
	width: calc(100% / 3);
	padding: 10px;
	position: relative;
}

/* ITEM LAYOUT */
.tag {
	display: flex;
	flex-direction: column;
	line-height: 14px;
}

.brand {
	font-size: 9px;
}

.item-name {
	font-size: 12px;
	font-weight: bolder;
	text-transform: uppercase;
}

.prize {
	color: red;
	font-size: 8px;
	font-weight: bold;
}


s {
	color: black;
	font-weight: normal;
}


.special-tag {
	display: flex;
	color: white;
	font-size: 7px;
	font-weight: light;
	position: relative;
}


.discount {
	padding-left: 2px;
	padding-right: 2px;
	background-color: red;
	position: absolute;
	bottom: 80px;
	left: 2px;
}

.eco-item {
	padding-left: 2px;
	padding-right: 2px;
	background-color: green;
	position: absolute;
	bottom: 80px;
	left: 26px;
}

.special-tag :only-child:not(.discount){
	padding-left: 2px;
	padding-right: 2px;
	background-color: green;
	position: absolute;
	bottom: 80px;
	left: 2px;
}


.favorite-item {
	background-color: white;
	padding: 8px;
	width: 25px;
	position: absolute;
	top: 15px;
	right: 10px;
}

/* FOOTER */

footer {
	padding-top: 150px;
	color: white;
}

.footer-container {
	padding-top: 20px;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
	font-size: 7px;
}

.firm strong{
	font-size: 10px;
}

.policy {
	display: flex;
	gap: 5px;
	padding-top: 6px;
}

.link-tree {
	display: flex;
	width: 50px;
	padding-top: 6px;
}

/* DEBUG RULES*/

.debug .row > * {
	border: 2px solid cornflowerblue;
	min-height: 200px;
}



