/* RESET RULES*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* LAYOUT */

.container {
	margin: 0 auto;
	padding: 0 100px;
}

/* UTILITIES */

.bg-orange {
	background-color: #fc6c04;
}

/* NAVBAR */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.nav-logo {
	width: 100px;
}
